@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  @apply bg-gray-800 text-zinc-50;
}

input .dark {
  @apply bg-gray-800 text-zinc-50;
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, ul, li{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

html, body, #root, .App {
  height: 100%;
}